app-cpu {
  position: absolute;
  top: 96px;
  left: 270px;
}

app-gpu {
  position: absolute;
  top: 96px;
  left: 505px;
}

app-ram {
  position: absolute;
  top: 96px;
  left: 780px;
}

app-storage {
  position: absolute;
  top: 96px;
  left: 1025px;
}
