.selected {
  background-color: #CFD8DC !important;
  color: 000000;
}
.gpu {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 17.6em;
}
.gpu li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 2px;
}
.gpu li.selected:hover {
  background-color: #BBD8DC !important;
  color: 000000;
}
.gpu li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.gpu .text {
  position: relative;
  top: -3px;
}
.gpu .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.2em 0.7em 0.2em 0.7em;
  background-color: #607D8B;
  /*line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;*/
  margin-left: auto;
  margin-right: auto;
  width: 19em;
  border-radius: 4px 4px 4px 4px;
}

.gpu .div {
  font-size: 15em;
}
